<div class="module__header">
  <div class="mono-title">
    <b>Course:</b> <%= @inscription.course_name %>
  </div>

  <div class="main-title">
    <%= @section["title"] %>
  </div>

  <div>
    <div class="mono-subtitle__alt">
      Resources
    </div>

    <div class="inscription-text">
      <ul>
        <% @section["resources"].each do |resource| %>
          <li><%= resource["title"] %></li>
        <% end %>
      </ul>
    </div>
  </div>

  <div>
    <div class="mono-subtitle__alt">
      Activities
    </div>

    <div class="inscription-text">
      <ul>
        <% @section["activities"].each do |activity_id, activity| %>
          <li><%= activity["title"] %></li>
        <% end %>
      </ul>
    </div>
  </div>

  <div>
    <div class="mono-subtitle__alt">
      Exam
    </div>

    <div class="inscription-text">
      <%= @section["title"] %> Exam
    </div>
  </div>
</div>

<% @section["resources"].each do |resource| %>
  <%= render 'resource', resource: resource %>
<% end %>

<% @section["activities"].each do |activity_id, activity| %>
  <% if activity["completed"] %>
    <%= render 'completed_activity', activity: activity %>
  <% else %>
    <%= render 'activity', activity: activity, activity_id: activity_id, inscription: @inscription, section_id: @section_id %>
  <% end %>
<% end %>

<%= render 'exam', exam: @section["exam"], inscription: @inscription, section_id: @section_id %>
