<div class="row">
  <div class="col-6">
    <div class="inscription-overview text-center">
      <div class="container align vertical">
        <div class="mono-title">
          Course
        </div>

        <div class="main-title">
          <%= @inscription.course_name %>
        </div>

        <div class="mono-subtitle__alt">
          <%= @inscription.sections.keys.count %> Modules
        </div>

        <div class="inscription-text">
          <%= @inscription.course_description %>
        </div>

        <div class="inscription-text">
          <div class="mono-title">
            Objectives
          </div>
          <ul>
            <% @inscription.course_objectives.each do |objective| %>
              <li> <%= objective %></li>
            <% end %>
          </ul>
        </div>

        <div>
          <%= link_to 'Start', edit_inscription_path(@inscription), class:'button-alt' %>
        </div>
      </div>
    </div>
  </div>

  <div class="col-6">
    <div class="container">
      <% @inscription.sections.each do |section_id, section| %>
        <div class="inscription-overview__module text-center">
          <div class="dark-title">
            <%= section["title"] %>
          </div>
          <div class="inscription-overview__module-stats">
            <div class="inscription-overview__module-indicator">
              <div>
                Resources
              </div>
              <div class="mono-subtitle">
                <%= section["resources"].count %>
              </div>
            </div>

            <div class="inscription-overview__module-indicator">
              <div>
                Activities
              </div>
              <div class="mono-subtitle">
                <%= section["activities"].count %>
              </div>
            </div>

            <div class="inscription-overview__module-indicator">
              <div>
                Exam
              </div>
              <div class="mono-subtitle">
                <%= section["exam"]["score"] %>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
