<%= form_with(model: course, local: true) do |f| %>
  <%= f.hidden_field :user_id, value: current_user.id %>
  <% if course.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(course.errors.count, "error") %> prohibited this course from being saved:</h2>

      <ul>
        <% course.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name, id: :course_name %>
  </div>

  <div class="field">
    <%= f.label :description %>
    <%= f.text_area :description, id: :course_description %>
  </div>

  <div class="field">
    <%= f.label :objectives %>
    <%= f.text_area :objectives, id: :course_objectives %>
  </div>

  <div id="modules">
    <%= link_to "Add Module", "#", id: "add-module" %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<script>
 $(function() {
   var courseBuilder = new window.courseBuilder()
   courseBuilder.init()
 });
</script>

