<%= form_with(model: course, local: true) do |f| %>
  <%= f.hidden_field :user_id, value: current_user.id %>
  <% if course.errors.any? %>
    <div id="error_explanation">
      <h2>Sorry, <%= pluralize(course.errors.count, "error") %> prohibited this course from being saved:</h2>

      <ul>
        <% course.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name, class: 'registration-container__label' %><br />
    <%= f.text_field :name, id: :course_name, placeholder: "Course Name", class: 'registration-container__input' %>
  </div>

  <div class="field">
    <%= f.label :description, class: 'registration-container__label' %><br />
    <%= f.text_area :description, id: :course_description, placeholder: "Description", class: 'registration-container__input' %>
  </div>

  <div class="field">
    <%= f.label :objectives, class: 'registration-container__label' %><br />
    <%= f.text_area :objectives, id: :course_objectives, placeholder: "Objectives", class: 'registration-container__input' %>
  </div>

  <div id="modules">
    <%= link_to "Add Module +", "#", id: "add-module", class:'button-outline__min' %>
  </div>

  <div class="actions">
    <%= f.submit class:'button-alt' %>
  </div>
<% end %>

<script>
 $(function() {
   var courseBuilder = new window.courseBuilder()
   courseBuilder.init()
 });
</script>
